<div class="d-flex flex-column flex-shrink-0 bg-light sticky-top vh-100" style="width: 4.5rem;">
    <a href="{{ path('public_home') }}" class="d-block p-3 link-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right"  title="Retour au site">
        <img src="{{ asset('build/images/favicon.png') }}" alt="" width="40" height="40">
        <span class="visually-hidden">Administration de Débordement de Pile</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="{{ path('admin_dashboard') }}" class="nav-link py-3 border-bottom rounded-0 {{ is_active_page('admin_dashboard') ? 'active' : '' }}" {{ is_active_page('admin_dashboard') ? 'aria-current="page"' : '' }} data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#house"></use></svg>
            </a>
        </li>
        <li>
            <a href="{{ path('admin_login_activity_list') }}" class="nav-link py-3 border-bottom rounded-0 {{ is_active_page('admin_login_activity') ? 'active' : '' }}" {{ is_active_page('admin_login_activity') ? 'aria-current="page"' : '' }} data-bs-toggle="tooltip" data-bs-placement="right" title="Activité de connexion">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Activité"><use xlink:href="#activity"></use></svg>
            </a>
        </li>
        <li>
            <a href="{{ path('admin_reports_list', { active: true }) }}" class="nav-link py-3 border-bottom rounded-0 {{ is_active_page('admin_reports') ? 'active' : '' }}" {{ is_active_page('admin_reports') ? 'aria-current="page"' : '' }} data-bs-toggle="tooltip" data-bs-placement="right" title="Signalements">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Signalements"><use xlink:href="#exclamation-diamond"></use></svg>
            </a>
        </li>
        <li>
            <a href="{{ path('admin_users_list') }}" class="nav-link py-3 border-bottom rounded-0 {{ is_active_page('admin_users') ? 'active' : '' }}" {{ is_active_page('admin_users') ? 'aria-current="page"' : '' }} data-bs-toggle="tooltip" data-bs-placement="right" title="Utilisateurs">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Utilisateurs"><use xlink:href="#person-circle"></use></svg>
            </a>
        </li>
        <li>
            <a href="{{ path('admin_tickets_list') }}" class="nav-link py-3 border-bottom rounded-0 {{ is_active_page('admin_tickets') ? 'active' : '' }}" {{ is_active_page('admin_tickets') ? 'aria-current="page"' : '' }} data-bs-toggle="tooltip" data-bs-placement="right" title="Tickets">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Tickets"><use xlink:href="#ticket-detailed"></use></svg>
            </a>
        </li>
        <li>
            <a href="{{ path('admin_categories_list') }}" class="nav-link py-3 border-bottom rounded-0 {{ is_active_page('admin_categories') ? 'active' : '' }}" {{ is_active_page('admin_categories') ? 'aria-current="page"' : '' }} data-bs-toggle="tooltip" data-bs-placement="right" title="Catégories">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Catégories"><use xlink:href="#collection"></use></svg>
            </a>
        </li>
    </ul>
    <div class="dropdown border-top">
        <button type="button" class="btn p-0 border-0 d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ asset('build/images/user-profile.png') }}" alt="mdo" width="28" height="28" class="rounded-circle">
        </button>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3" style="">
            <li><a class="dropdown-item" href="{{ path('user_profile_by_slug', { slug: app.user.slug }) }}">Profil</a></li>
            <li><a class="dropdown-item" href="{{ path('auth_logout') }}">Déconnexion</a></li>
        </ul>
    </div>
</div>
